<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Full Wine Table</title>
</head>

<body>
    <a href="/" style="font-size: larger;">Homepage</a>
    <table style="width:100%; text-align:center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Vineyard</th>
                <th>Year</th>
                <th>Value</th>
                <th>Average Rating</th>
                <th>Price (£)</th>
            </tr>
        </thead>
        <tbody>
            {% for wine in wine_list %}
            <tr>
                <td>{{wine.id}}</td>
                <td>{{wine.brand}}</td>
                <td>{{wine.vineyard}}</td>
                <td>{{wine.year}}</td>
                <td>{{wine.value}}</td>
                <td>{{wine.average_rating}}</td>
                <td>{{wine.price}}</td>
            </tr>
            {% endfor %}
            {% if target_wine != None %}
            <tr>
                <td>{{target_wine.id}}</td>
                <td>{{target_wine.brand}}</td>
                <td>{{target_wine.vineyard}}</td>
                <td>{{target_wine.year}}</td>
                <td>{{target_wine.value}}</td>
                <td>{{target_wine.average_rating}}</td>
                <td>{{target_wine.price}}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</body>

</html>